%h1 New Item
%form{ method: 'post' }
  %div
    %div
      %span Name:
      %input{ type: 'text', name: 'item[name]', id: 'newItemName' }
    %div
      %span Price: $
      %input{ type: 'text', name: 'item[price]', id: 'newItemPrice' }
    %div#newItemSubmit
      %input{ type: 'submit', value: 'Create' }